{% include "translation" %}

<section class="homepage-excerpt-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        {% if page.headline.size > 0 %}
          <h2 class="m-0 h3">{{ page.headline }}</h2>
        {% endif %}
        <div class="card card-lg {% if page.headline.size > 0 %} mt-5{% endif %}">
          <div class="card-body">
            {% if page.survey.content.size > 0 %}
              {{ page.survey.content }}
            {% endif %}
            <a class="btn btn-primary" href="{{ page.slug }}">{{ t_excerpt_take_survey }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
