{% include "translation" %}

<section class="homepage-excerpt-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <h2 class="h3 m-0">
          <a href="{{ page.url }}">{{ page.headline }}</a>
        </h2>
        {% if page.has_author? %}
          <div class="mt-4">{% include "page_byline" %}</div>
        {% endif %}
        {% if page.suggestion.content.size > 0 %}
          <div class="mt-4">{{ page.suggestion.content | truncatewords: 80 }}</div>
        {% endif %}
        <div class="mt-4"><a href="{{ page.url }}">{{ t_excerpt_read_more }}</a></div>
      </div>
    </div>
  </div>
</section>
