{% include "translation" %}

<section class="homepage-excerpt-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        {% if page.headline.size > 0 %}
          <h2 class="m-0 h3">{{ page.headline }}</h2>
        {% endif %}
        <div class="card card-lg{% if page.headline.size > 0 %} mt-5{% endif %}">
          <div class="card-body">
            {% if page.vote_pledge.content.size > 0 %}
              {{ page.vote_pledge.content }}
            {% endif %}
            <a href="{{ page.slug }}" class="btn btn-primary">{{ t_excerpt_pledge_your_vote }}</a>
          </div>
          {% if page.show_social_slider? and page.public_activities_count > 0 %}
            <div class="card-social-slider">
              {% include "social_slider" %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
