{% comment %}

  Use this to display a progress bar.
  -------
  EXAMPLE
  -------
  {% include "progress"
    percent: page.endorsement.percent_of_goal,
    amount: page.endorsement.percent_of_goal,
    count: page.endorsement.endorsements_count,
    goal: page.endorsement.goal,
    label: "endorsement"
  %}

{% endcomment %}

{% if percent <= 1 %}
  {% assign finalPercent = percent | times: 100 %}
{% else %}
  {% assign finalPercent = percent %}
{% endif %}

{% assign count_num = count | plus: 0 %}

<div class="progress" data-percent="{{ finalPercent }}" data-count="{{ count_num }}" data-goal="{{goal}}" data-amount="{{ amount }}">
  <div class="progress-bar" role="progressbar" style="width: {{ finalPercent }}%;" aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100">
  </div>
</div>
