{% include "translation" %}
{% include 'tag_list' %}

{% capture body_classes %}
momentum-theme v3-theme js {{ page.page_class_name }} page-{{ request.template | replace: '_', '-' }}
{% if page.is_homepage? %} homepage{% endif %}
{% if site.has_background_image? %} bg-image{% endif %}
{% if page.features_count > 0 %} featured-content{% endif %}
{% case page.type_slug %}
{% when "blog" or "suggestion_box" or "calendar" %} bg-light
{% when "event" %} bg-white
{% endcase %}
{% if tag_list contains "fixed_header" %} fixed-header{% endif %}
{% endcapture %}

<!DOCTYPE html>
<html lang="{{ current_language }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page_title }}</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:wght@400;600;700&display=swap" rel="stylesheet" />
    <!-- start of content for header -->
    {{ content_for_header }}
    <!-- end of content for header -->
    <link href="theme.scss" rel="stylesheet" data-theme-stylesheet="custom" />
    {% include "brand_guard" %}

    <script type="text/javascript">
      NB.appConfig.userIsLoggedIn = {{ request.logged_in? }};
    </script>
  </head>

  <body class="{{ body_classes | strip_newlines | strip }}">
    {% unless page.type_slug == "donation_v2" %}
      {% include "header" splash: true %}
    {% endunless %}
    {% include "content" %}
    {% include "homepage_logo_quote_replacement" %}
    {% unless page.type_slug == "donation_v2" %}
      {% include "footer" splash: true %}
    {% endunless %}

    {% if site.has_background_image? %}
      <style>body{background-image:url('{{ site.background_image_url }}');}</style>
    {% endif %}

    {{ content_for_notifications }}
    {{ content_for_footer }}

    <script src="popper.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="vendor.js"></script>
    {{ img_cropper_js }}
    <script src="theme.js"></script>
  </body>
</html>
